* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  padding-block: 2rem;
  padding-inline: clamp(1rem, 3vw, 4rem);
}
header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.logo {
  width: clamp(2.5rem, 8vw, 5rem);
  height: clamp(2.5rem, 8vw, 5rem);
  margin-block: auto;
}

.header-text {
  font-weight: 600;
  margin-inline: auto;
  text-align: center;
}

.header-text > * {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  text-transform: capitalize;
}

.header-text p:nth-child(1) {
  font-size: clamp(1.2rem, 3vw, 2rem);
}
main {
  padding-block: 1rem;
}
.group {
  position: relative;
  font-size: clamp(1.2rem, 3vw, 2rem);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
  margin-inline: auto;
}
.group::after,
.name::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.2em;
  left: 0;
  bottom: -0.2em;
  background-color: #ee3c03;
  border-radius: 1rem;
}
.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.member {
  display: flex;
  /* flex-basis: 1; */
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 0.8rem;
}
.member > * {
  margin-block: auto;
}
.member img {
  width: min(100%, 12rem);
  aspect-ratio: 1/1;
  object-fit: contain;
}
.name {
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  text-transform: capitalize;
}

@media screen and (max-width: 400px) {
  .header-text {
    text-align: start;
  }
  .member {
    flex-direction: column;
  }
  .member > * {
    margin: auto;
  }
}
.matric::before,
.cgpa::before,
.address::before {
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.matric::before {
  content: "matric:";
}
.cgpa::before {
  content: "content:";
}
.address::before {
  content: "address:";
}
